cef_user_data/
chromium/
configstore/
Electron/
GIMP/
htop/htoprc
Hacknet/
inkscape/
keybase/
Keybase/
libreoffice/
lightcord/
Lightcord/
mapeditor.org/
Microsoft/
pulse/
RadareOrg/
Riot/
teams/
unity3d/
vlc/
wireshark/

jd-gui.cfg
kritadisplayrc
kritarc
mimeapps.list
monitors.xml
pavucontrol.ini
QtProject.conf
Trolltech.conf
user-dirs.*
