cef_user_data/
chromium/
configstore/
Electron/
GIMP/
htop/htoprc
Hacknet/
inkscape/
keybase/
Keybase/
libreoffice/
lightcord/
Lightcord/
mapeditor.org/
Microsoft/
pulse/
RadareOrg/
Riot/
teams/
unity3d/
vlc/
wireshark/

aerc/accounts.conf
hub
jd-gui.cfg
kritadisplayrc
kritarc
Lightcord_BD/bdstorage.json
mimeapps.list
monitors.xml
nvim/.netrwhist
pavucontrol.ini
QtProject.conf
Trolltech.conf
user-dirs.*
weechat/weechat.log
weechat/sec.conf
weechat/weemoji.json
weechat/*/
