* {
    border: 0;
    font-family: Cozette;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eceff4;
}

window#waybar:first-child > box {
    margin-top: 11px;
    padding: 8px 4px 4px 4px;
    border-radius: 20px 20px 0px 0px;
    background-color: #2e3440;
    border: 2px solid #88c0d0;
    border-bottom: 0;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #4c566a;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #d8dee9;
}

#workspaces button.focused {
    color: #88c0d0;
}

#custom-d, #clock, #pulseaudio {
    padding: 0 7px;
    margin: 2px 0px;
}

#mpd {
    margin: 0;
}

#pulseaudio {
  margin-right: -7px;
}

#custom-d {
    color: #4c566a;
}
